@model CarsAndDrivers.ViewModels.CreateProfile.CarProfileViewModelStThree
@{
    ViewBag.Title = "Post Car";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="intro-text">Post new car</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("PostCar", "PostNewCar", FormMethod.Post,  new { id = "nform", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-hand-right"></span></span>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Please enter your Title" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    <p><small>For example: Monster AMG CLS</small></p>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Manufacturer)
                    @Html.DropDownList("Manufacturer", (IEnumerable<SelectListItem>)ViewBag.Manufacturers, "Pick one", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger" })
                </div>

                <div id="models-container" class="form-group">
                    @Html.Partial("_LoadCarModelsPartialView")
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ReleaseYear)
                    @Html.TextBoxFor(m => m.ReleaseYear, new { @class = "form-control", @placeholder = "Please enter Release year" })
                    @Html.ValidationMessageFor(m => m.ReleaseYear, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Engine)
                    @Html.TextBoxFor(m => m.Engine, new { @class = "form-control", @placeholder = "Please enter Engine Capacity" })
                    @Html.ValidationMessageFor(m => m.Engine, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HorsePower)
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
                        @Html.TextBoxFor(m => m.HorsePower, new { @class = "form-control", @placeholder = "How many horse power has your car?" })
                    </div>
                    @Html.ValidationMessageFor(m => m.HorsePower, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Color)
                    @Html.TextBoxFor(m => m.Color, new { @class = "form-control", @placeholder = "What is your car`s color?" })
                    @Html.ValidationMessageFor(m => m.Color, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UploadCarPictures)
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip; @Html.TextBoxFor(m => m.UploadCarPictures, new { type = "file", multiple = "true" })
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    @Html.ValidationMessageFor(m => m.UploadCarPictures, "", new { @class = "text-danger" })
                    <p><small>File format - JPEG or GIF without animation.Picture size of at least 600 × 800 pixels.</small></p>
                    <p><small class="text-danger">Warning: Upload ONLY your car pictures or your EX-Car Pictures.</small></p>
                    <p><small class="text-danger">Bad quality or stolen pictures will be deleted.</small></p>
                </div>
                <div class="form-group">
                    <label for="Few words about you">Few words about your car</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    <p><small>Minimum 140 symbols. If you want your car to have high rating, please write informative and interesting stories.</small></p>
                    <p><small class="text-success">Long text is strongly recommended, please split into paragraphs.</small></p>
                </div>
                <input type="submit" class="btn btn-default btn-md btn-block" value="Update & Save" />
            </div>
        }
    </div>
</div>



