@using CarsAndDrivers.Models
@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/Shared/_LayoutLandingPage.cshtml";
}

<!-- Login Section -->
<section id="login" class="container content-section text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>@ViewBag.Title</h2>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Please enter your username" })
                            @*<input type="text" class="form-control" name="Username" id="Username" placeholder="Please enter your username" required>*@
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Please enter your pasword" })
                            @*<input type="text" class="form-control" name="Password" id="Password" placeholder="Please enter your pasword" required>*@
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                        <small>
                            | @*Forgot <a href="#">password?</a>*@
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </small>
                    </div>
                    <input type="submit" value="Login" class="btn btn-default btn-md btn-block" />

                    <a href="#register" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-up animated"></i>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!-- // Login Section -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}