@model CarsAndDrivers.ViewModels.Home.CarProfileViewModel

<div class="thumbnail">
    <a href="@Url.Action("All", "Details", new { area = "Drivers", id = @Model.UserProfileId, CarProfile = @Model.Id }, null)">
        <img class="img-rounded" src="@Model.CarPictureUrl" alt="" />
        <!-- POst image size is very important, it must be 800x500 for tablet users. -->
    </a>
    <div class="caption">
        <h5>@Html.DisplayFor(model => Model.Title)</h5>
        @Html.DisplayFor(model => Model.CreatedOn)
        <hr>
        <a href="@Url.Action("All", "Details", new { area = "Drivers", id = @Model.UserProfileId }, null)">
            <img class="img-rounded avatar" src="@Model.UserProfile.AvatarUrl" />
        </a>
        <span class="label label-danger normal">@Html.DisplayFor(model => Model.UserProfile.User.UserName)</span>
        <p><small>@Html.DisplayFor(model => Model.UserProfile.Country), @Html.DisplayFor(model => Model.UserProfile.Age)</small></p>
        @{
            var likes = Model.Likes.Sum(l => l.Value);
        }
        <p class="text-muted">Fame points <span class="label label-success normal">@likes</span></p>
    </div>
</div>

