@model CarsAndDrivers.ViewModels.Home.CarProfileViewModel

<div class="thumbnail">
    <a href="~/Profile/@Model.UserProfileId/@Model.Id">
        <img class="img-rounded" src="~/images/post1_800x500_1.png" alt="" /> <!-- POst image size is very important, it must be 800x500 for tablet users. -->
    </a>
    <div class="caption">
        <h5>@Html.DisplayFor(model => Model.Title)</h5>
        @Html.DisplayFor(model => Model.CreatedOn)
        <hr>
        <a href="~/Profile/@Model.UserProfileId">
            <img class="img-rounded" src="~/images/avatar.png" />
        </a>
        <span class="label label-danger normal">@Html.DisplayFor(model => Model.UserProfile.User.UserName)</span>
        <p><small>@Html.DisplayFor(model => Model.UserProfile.Country), @Html.DisplayFor(model => Model.UserProfile.Age)</small></p>
        @{
            var likes = Model.Likes.Sum(l => l.Value);
        }
        <p class="text-muted">Fame points <span class="label label-success normal">@likes</span></p>
    </div>
</div>

