@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/cssmain")
    <link href="~/fonts/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!-- Navigation -->
    <header>
        <!-- Static navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top border" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <i class="fa fa-car"></i>  <span class="light">Cars</span> and Drivers
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Our Philosophy</a></li>
                                <li><a href="#">About company</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Follow us</li>
                                <li><a href="#">facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google +</a></li>
                            </ul>
                        </li>
                    </ul>

                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    }
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </header>
    <!-- Register Section -->
    
    <div class="container white_rounded">
        <div class="row">
            <form role="form">
                <div class="col-md-8 col-md-offset-2 ">
                    <p class="intro-text">Hello HrTurlakov</p>
                    @RenderBody()
                    <h4 class="intro-text">First Step (1/3)<small> |  Tell us About yourself, don't be shy</small></h4>
                    <div class="form-group">
                        <label for="Nickname">Nickname</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" name="Username" id="Username" placeholder="Please enter your Nickname" required>
                        </div>
                        <p><small>This will be visible for other users</small></p>
                    </div>
                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <select class="form-control">
                            <option value="I am a sexy Female">I am a sexy Female</option>
                            <option value="I am a sexy Male">I am a sexy Male</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Country">Country</label>
                        <select class="form-control">
                            <option value="xx">Worldwide</option>
                            <option value="ar">Argentina</option>
                            <option value="au">Australia</option>
                            <option value="at">Austria</option>
                            <option value="bs">Bahamas</option>
                            <option value="be">Belgium</option>
                            <option value="bz">Belize</option>
                            <option value="bo">Bolivia</option>
                            <option value="br">Brazil</option>
                            <option value="bg">Bulgaria</option>
                            <option value="ca">Canada</option>
                            <option value="ky">Cayman Islands</option>
                            <option value="cl">Chile</option>
                            <option value="co">Colombia</option>
                            <option value="cr">Costa Rica</option>
                            <option value="hr">Croatia</option>
                            <option value="cy">Cyprus</option>
                            <option value="cz">Czech Republic</option>
                            <option value="dk">Denmark</option>
                            <option value="do">Dominican Republic</option>
                            <option value="ec">Ecuador</option>
                            <option value="eg">Egypt</option>
                            <option value="sv">El Salvador</option>
                            <option value="ee">Estonia</option>
                            <option value="fi">Finland</option>
                            <option value="fr">France</option>
                            <option value="de">Germany</option>
                            <option value="gh">Ghana</option>
                            <option value="gr">Greece</option>
                            <option value="gt">Guatemala</option>
                            <option value="gy">Guyana</option>
                            <option value="ht">Haiti</option>
                            <option value="hn">Honduras</option>
                            <option value="hk">Hong Kong</option>
                            <option value="hu">Hungary</option>
                            <option value="is">Iceland</option>
                            <option value="in">India</option>
                            <option value="id">Indonesia</option>
                            <option value="ie">Ireland</option>
                            <option value="il">Israel</option>
                            <option value="it">Italy</option>
                            <option value="jm">Jamaica</option>
                            <option value="jp">Japan</option>
                            <option value="jo">Jordan</option>
                            <option value="ke">Kenya</option>
                            <option value="kw">Kuwait</option>
                            <option value="lv">Latvia</option>
                            <option value="lb">Lebanon</option>
                            <option value="lt">Lithuania</option>
                            <option value="lu">Luxembourg</option>
                            <option value="my">Malaysia</option>
                            <option value="mv">Maldives</option>
                            <option value="mt">Malta</option>
                            <option value="mx">Mexico</option>
                            <option value="ma">Morocco</option>
                            <option value="nl">Netherlands</option>
                            <option value="nz">New Zealand</option>
                            <option value="ni">Nicaragua</option>
                            <option value="ng">Nigeria</option>
                            <option value="no">Norway</option>
                            <option value="pk">Pakistan</option>
                            <option value="pa">Panama</option>
                            <option value="py">Paraguay</option>
                            <option value="pe">Peru</option>
                            <option value="ph">Philippines</option>
                            <option value="pl">Poland</option>
                            <option value="pt">Portugal</option>
                            <option value="qa">Qatar</option>
                            <option value="ro">Romania</option>
                            <option value="ru">Russia</option>
                            <option value="sa">Saudi Arabia</option>
                            <option value="sg">Singapore</option>
                            <option value="sk">Slovakia</option>
                            <option value="si">Slovenia</option>
                            <option value="za">South Africa</option>
                            <option value="kr">South Korea</option>
                            <option value="es">Spain</option>
                            <option value="sr">Suriname</option>
                            <option value="se">Sweden</option>
                            <option value="ch">Switzerland</option>
                            <option value="tw">Taiwan</option>
                            <option value="tz">Tanzania</option>
                            <option value="th">Thailand</option>
                            <option value="tt">Trinidad &amp; Tobago</option>
                            <option value="tr">Turkey</option>
                            <option value="ug">Uganda</option>
                            <option value="ua">Ukraine</option>
                            <option value="ae">United Arab Emirates</option>
                            <option value="gb">United Kingdom</option>
                            <option value="us">United States</option>
                            <option value="uy">Uruguay</option>
                            <option value="ve">Venezuela</option>
                            <option value="vn">Vietnam</option>
                            <option value="zm">Zambia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Driving experience">Driving experience</label>
                        <select class="form-control">
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                        </select>
                        <p><small>In what year did you start to drive?</small></p>
                    </div>
                    <div class="form-group">
                        <label for="Few words about you">Few words about you</label>
                        <textarea class="form-control"></textarea>
                        <p><small>Tell us about you, how cool you are?</small></p>
                    </div>


                    <a href="#" class="btn btn-default btn-md btn-block">
                        Next Step (2/3)
                    </a>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <div class="container-fluid">
        <footer>
            <div class="row color-gray">
                <div class="col-lg-12">
                    <p class="text-center">Follow us on</p>
                    <p class="text-center">
                        <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-youtube-square fa-3x color-pinterest"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>
                    </p>
                    <p class="text-center gray-color">
                        <span class="glyphicon glyphicon-copyright-mark"></span> 2014 All rights reserved. Made with <span class="glyphicon glyphicon-heart red-color"></span> in Sofia.
                    </p>
                    <p class="text-center gray-color">Powered by: <a href="#" target="_blank">JS</a>, <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>, Font Awesome and Love</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryeasing")
    @Scripts.Render("~/bundles/sitemain")

    @RenderSection("scripts", required: false)
</body>
</html>
